.wrapper {
  max-width: 940px;
  min-height: 810px;
  margin: 0 auto 50px;

  background-color: #ffffff;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.15);
}

.body {
  padding: 15px 16px;
  box-sizing: border-box;

  color: rgba(0, 0, 0, 0.75);
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  overflow-wrap: break-word;
}
