.header {
  display: flex;
  justify-content: space-between;

  margin-bottom: 5px;
}

.title {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 13px;

  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  color: #1890ff;
}

.inner {
  display: flex;
  align-items: center;

  margin-bottom: 5px;
}

.likes {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.author {
  display: flex;
}

.name,
.date {
  margin: 0;
  text-align: right;
}

.name {
  font-size: 18px;
  line-height: 156%;
  color: rgba(0, 0, 0, 0.85);
}

.date {
  font-size: 12px;
  line-height: 183%;
  color: rgba(0, 0, 0, 0.5);
}

.img {
  margin-left: 12px;

  width: 46px;
  height: 46px;
  border-radius: 50%;
}