.header {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
}

.inner {
  height: 80px;
  max-width: 1440px;
  margin: 0 auto;
  padding: 16px 22px 13px;
  box-sizing: border-box;
}

.title {
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;

  margin: 0;
}