.button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  box-sizing: border-box;
}

.green {
  border-radius: 5px;
  border: 1px solid #52c41a;

  color: #52c41a;
}

.blue {
  border-radius: 4px;
  padding: 8px 16px;

  background-color: #1890ff;
  color: #ffffff;
}

.large {
  padding: 14px 21px;
  font-size: 18px;
}

.small {
  padding: 5px 10px;
  font-size: 14px;
}

.black {
  border: 1px solid rgba(0, 0, 0, 0.75);
  border-radius: 5px;
}
