.header {
  min-height: 140px;
  padding: 15px 16px;
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  justify-content: space-between;

  margin-bottom: 7px;
}

.block {
  width: 680px;
}

.title {
  cursor: pointer;

  max-width: 630px;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 13px;

  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  color: #1890ff;
  overflow-wrap: break-word;
}

.inner {
  display: flex;
  align-items: center;

  margin-bottom: 5px;
}

.likes {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.author {
  display: flex;
}

.name,
.date {
  margin: 0;
  text-align: right;
}

.name {
  font-size: 18px;
  line-height: 156%;
  color: rgba(0, 0, 0, 0.85);
}

.date {
  font-size: 12px;
  line-height: 183%;
  color: rgba(0, 0, 0, 0.5);
}

.img {
  margin-left: 12px;

  width: 46px;
  height: 46px;
  border-radius: 50%;
}

.desc {
  width: 680px;
  overflow-wrap: break-word;
  line-height: 183%;
}
